name: Build Action
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Install Arm GNU Toolchain
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: '12.3.Rel1' # <-- The compiler release to use

      - name: Build bms-prototype2
        run: |
          cd Firmware/bms-prototype2
          cmake -S . -B build
          cmake --build build
          cd ../..
          
      - name: Build nucleof072rb-base
        run: |
          cd Firmware/nucleof072rb-base
          cmake -S . -B build
          cmake --build build
          cd ../..

      - name: Build nucleol476rg-base
        run: |
          cd Firmware/nucleol476rg-base
          cmake -S . -B build
          cmake --build build
          cd ../..

      - name: Build nucleol476rg-CAN-dev
        run: |
          cd Firmware/nucleol476rg-CAN-dev
          cmake -S . -B build
          cmake --build build
          cd ../..

      - name: Build steering-2023
        run: |
          cd Firmware/steering-2023
          cmake -S . -B build
          cmake --build build
          cd ../..